<h2 class="screen-align">Testapp</h2>
<div id="template-ijz3" class="gjs-row">
    <div id="template-iz7o" class="gjs-cell">
        <label id="template-inq9" class="label ">name:</label>
        <input id="template-i8kh" [(ngModel)]="test.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
    </div>
</div>
<div id="template-i7ul" class="gjs-row">
    <div id="template-iyj1" class="gjs-cell">
        <label id="template-i5fx" class="label ">Vault_object:</label>
        <textarea id="template-iyadh" class="textarea "></textarea>
        <div id="template-i1pa8" (click)="GpCreate()" class="button btn btn-primary ">Create</div>
    </div>
</div>